body {
  background-color: #EAEAEA;
}

hr {
  border: none;
  border-top: 5px dotted #b2b2b2;
  color: none;
  background-color: none;
  height: 1px;
  width: 5%;
}

h1 {
  font-size: 50px;
  font-weight: 600;
  color: #00ABB3;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  color: #00ABB3;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  color: #00ABB3;
}

img {
  border-radius: 50%;
  border: 5px solid #00ABB3;
}

.line-1{
    position: relative;
    top: 50%;
    width: 10em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 120%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 2s 1 normal both,
             blinkTextCursor 750ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 21em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #b2b2b2;}
  to{border-right-color: transparent;}
}
